.form-container {
    padding: 1rem;
    border: 1px solid gray;
    width: fit-content;
    border-radius: 5px;
    margin: auto;
}

.form-item {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 0.5rem;
}